{% extends 'ReactOWeb/base.html' %}
{% load static %}

{% block title %}Event feed{% endblock %}

{% block style %}
  .topic {
    color: #333;
  }
  .topic:hover {
    color: 23527C;
  }
  .username {
    color: #333;
  }
  .username:hover {
    color: 23527C;
  }
{% endblock style %}

{% block nav-feed %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h2>Feed of events <a href="{% url 'messages.rss' %}"><img src="{% get_static_prefix %}ReactOWeb/img/syndication.png"></a></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datetime</th>
          <th>Topic</th>
          <th>uuid</th>
          <th>username</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
      {% for message in messages %}
        <tr>
          <td title="{{ message.datetime }}">{{ message.datetime|timesince }}</td>
          <td><a class="topic" href="?field=topic&value={{ message.topic }}">{{ message.topic }}</a></td>
          <td><a href="{% url 'message' message.id %}">{{ message.uuid }}</a></td>
          <td><a class="username" href="?field=username&value={{ message.username }}">{{ message.username }}</a></td>
          <td>{{ message.data|truncatechars:40 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
