{% extends 'ReactOWeb/base.html' %}
{% load static %}

{% block title %}Event feed{% endblock %}

{% block style %}
  .topic {
    color: #333;
  }
  .topic:hover {
    color: 23527C;
  }
  .username {
    color: #333;
  }
  .username:hover {
    color: 23527C;
  }
{% endblock style %}

{% block nav-messages %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h2>Feed of events <a href="{% url 'messages.rss' %}"><img src="{% get_static_prefix %}ReactOWeb/img/syndication.png"></a></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datetime</th>
          <th>Topic</th>
          <th>uuid</th>
          <th>username</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
      {% for message in messages %}
        <tr>
          {% comment %}TODO: show the comple data on demand (some JS maybe){% endcomment %}
          <td title="{{ message.datetime }}">{{ message.datetime|timesince }}</td>
          <td><a class="topic" href="?field=topic&value={{ message.topic }}">{{ message.topic }}</a></td>
          <td><a href="{% url 'messages.details' message.id %}">{{ message.uuid }}</a></td>
          <td><a class="username" href="?field=username&value={{ message.username }}">{{ message.username }}</a></td>
          <td>{{ message.data|truncatechars:40 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <nav>
      <ul class="pager">
      {% if messages.has_previous %}
        <li class="previous"><a href="?page={{ messages.previous_page_number }}{% if get_string %}&{{ get_string }}{% endif %}"><span aria-hidden="true">&larr;</span> Newer</a></li>
      {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
      {% endif %}
      {% if messages.has_next %}
        <li class="next"><a href="?page={{ messages.next_page_number }}{% if get_string %}&{{ get_string }}{% endif %}">Older <span aria-hidden="true">&rarr;</span></a></li>
      {% else %}
        <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
      {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock body %}
